* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.hidden { display: none; }

html, body { height: 100%; }

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightcyan;

    background-color: rgb(65, 65, 65);
    background-image: url('../images/agenda1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

header {
    color: antiquewhite;
    position: sticky;
    top: 0;
}

header nav { position: relative; }

header nav ul {
    list-style-type: none;
    position: absolute;
    top: -45px;
    right: 20px;
}

header nav ul li {
    margin: 0 8px;
    display: inline-block;
    cursor: pointer;
}

header li:last-of-type::after {
    padding-left: 4px;
}

header nav ul li:hover { opacity: 0.8; }

header > h1 { text-align: center; padding: 8px; }

main { text-align: center; }

input[type="checkbox"] { margin-right: 8px;}

input[type="checkbox"]:checked::after {
    content: '\2611';
    border: 50%;
    background-color: pink;
    border: 4px solid rgb(180, 94, 178);
    position: relative;
    top: -7px;
    right: -243px;
    font-size: 1.5em;

    animation: fadeIn 0.7s;
}

article {
    width: 25%;
    border: 4px solid white;
    border-radius: 8px;

    display: inline-block;
    margin: 10px 12px;

    text-align: left;
    margin-bottom: 1em;
    padding: 20px;
}

article h2 { 
    font-size: 1.5em;
    color: lightcoral; 
    padding: 4px 8px; 
}

article:first-of-type { border: 4px solid pink; }

#InProgress { border: 4px solid rgb(226, 226, 183) }
#InProgress h2 { color: lightyellow; }

#Done { border: 4px solid lightblue; }
#Done h2 { color: lightblue; }

ul { list-style-type: none; }

ul li { padding: 6px 8px; text-transform: uppercase; }

.Todo li:nth-child(odd) { background-color: rgba(164, 36, 78, 0.2); }

.InProgress li:nth-child(odd) { background-color: rgba(237, 228, 132, 0.5); }

.Done li:nth-child(odd) { background-color: rgba(121, 171, 214, 0.5); }

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

footer  {
    color: white;
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top: 100%;
    background-color: black;
}